In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df1=pd.read_csv('../Data/Raw/review1', encoding='utf-8-sig')
df2=pd.read_csv('../Data/Raw/review2', encoding='utf-8-sig')
df3=pd.read_csv('../Data/Raw/review3', encoding='utf-8-sig')
df4=pd.read_csv('../Data/Raw/review4', encoding='utf-8-sig')
df5=pd.read_csv('../Data/Raw/review5', encoding='utf-8-sig')
df6=pd.read_csv('../Data/Raw/review6', encoding='utf-8-sig')
df7=pd.read_csv('../Data/Raw/review7', encoding='utf-8-sig')

In [5]:
combined_df=pd.concat([df1,df2,df3,df4,df5,df6,df7],ignore_index=True)
print(combined_df)

                                                 review  rating
0     Overall, this laptop stand does the job, but t...       4
1     Product is good and functions nice. Rubber att...       4
2     quality 105% best lageyo ani finishing pani dh...       5
3     Well it works well . It's really good for gami...       5
4     The product is exact as shown in the picture. ...       4
...                                                 ...     ...
1666                                            nice ‚ò∫Ô∏è       5
1667                                               nice       5
1668                                               good       4
1669                                               nice       5
1670                                               Nice       5

[1671 rows x 2 columns]

In [6]:
def change_rating_to_sentiment(rating):
    if rating==4 or rating==5:
        return "Positive"
    if rating==3:
        return "Neutral"
    else:
        return "Negative"

In [7]:
combined_df['rating']=combined_df['rating'].apply(change_rating_to_sentiment)

In [15]:
combined_df.tail(100)

              review    rating
1571  does the job üíØ  Positive
1572  woww I like it  Positive
1573  nice I like it  Positive
1574    feel good üëçüëç  Positive
1575  was little big  Positive
...              ...       ...
1666         nice ‚ò∫Ô∏è  Positive
1667            nice  Positive
1668            good  Positive
1669            nice  Positive
1670            Nice  Positive

[100 rows x 2 columns]

In [27]:

combined_df['rating'].value_counts()

rating
Positive    1485
Negative     106
Neutral       80
Name: count, dtype: int64

In [33]:
combined_df.duplicated().sum()
combined_df.drop_duplicates(inplace=True)
combined_df.duplicated().sum()
combined_df['rating'].value_counts()

rating
Positive    1342
Negative     106
Neutral       80
Name: count, dtype: int64

In [34]:
combined_df['review'] = combined_df['review'].str.replace('\n', '', regex=False)

In [37]:
combined_df.to_csv('../Data/sentiment.csv',index=False)